@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    background-color: #0A0A0A;
  }
  
  body {
    @apply antialiased;
  }
}

@layer utilities {
  .font-light {
    font-weight: 300;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
  }
}

/* Smooth scroll for Safari */
/* @supports (-webkit-overflow-scrolling: touch) {
  body {
    -webkit-overflow-scrolling: touch;
  }
} */

.bg-gradient-radial-subtle {
  background: 
    radial-gradient(ellipse at 50% 0%, rgba(0, 176, 255, 0.1) 0%, transparent 70%),
    radial-gradient(ellipse at 100% 100%, rgba(0, 224, 255, 0.05) 0%, transparent 70%);
  opacity: 0.03;
  transition: opacity 0.3s ease-out;
}